@using ProiectLicenta.ViewModels
@model IEnumerable<RaportParcele>

@{
    ViewData["Title"] = "Raport Parcela";
    string currentSort = ViewBag.SortOrder != null ? ViewBag.SortOrder : "";
    int parcelaSelectata = ViewBag.ParcelaSelectata != null ? (int)ViewBag.ParcelaSelectata : 0;
    string registruSelectat = ViewBag.RegistruSelectat as string;
}

<h1 class="fw-bold pb-2 pb-xl-3 text-center">Raport Parcela</h1>

<div>
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
    <form method="get" action="@Url.Action("Index")">
        <div class="form-group mb-3">
            <select class="form-select form-control-lg" name="parcelaSelectata" asp-items="ViewBag.Parcele">
                <option value="0" hidden>Alege Parcela</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <select class="form-select form-control-lg" name="registruSelectat" asp-items="ViewBag.Registre">
                <option value="" hidden>Alege Registru</option>
            </select>
        </div>
        <input class="btn btn-primary mb-3" type="submit" value="Generare Raport" />
    </form>

    @if (Model != null && Model.Any())
    {
        <h2 class="mt-4 text-center">Rezultate</h2>
        <table class="table">
           @foreach (var item in Model)
        {<th>
            <h3>@item.Locatie</h3>
            <p>Tip: @item.Tip</p>
            <p>Suprafata: @item.Suprafata</p>
                    <p>Numar Plante: @item.NumarPlante</p>
                </th>
            @if (item.RegistruCopilire != null && item.RegistruCopilire.Any())
                {
                    int total = 0;

                    <table class="table table-striped table-bordered">
                        <h4 class="mt-4 text-center">Registru Copilire</h4>
                    <thead>
                        <tr>
                                <th>
                                    Cod Copilire
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodCopilire" ? "CodCopilire_desc" : "CodCopilire" })">
                                        @if (currentSort != "CodCopilire_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                            </th>
                                <th>
                                    Numar Plante
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "NumarPlante" ? "NumarPlante_desc" : "NumarPlante" })">
                                         @if (currentSort != "NumarPlante_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                            </th>
                            <th>
                                    Data Copilire
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DataCopilire" ? "DataCopilire_desc" : "DataCopilire" })">
                                        @if (currentSort != "DataCopilire_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                            </th>
                        </tr>
                    </thead>    
                    <tbody>
                        @foreach (var registru in item.RegistruCopilire)
                            {
                                total += @registru.NumarPlante;
                                <tr>
                                <td>@registru.CodCopilire</td>
                                <td>@registru.NumarPlante</td>
                                <td>@registru.DataCopilire.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        <td>Total Plante</td>
                        <td>@total</td>
                        <td></td>
                    </tbody>
                </table>
            }
            @if (item.RegistruFertilizare != null && item.RegistruFertilizare.Any())
                {
                    int total = 0;
                    <table class="table table-striped table-bordered">
                        <h4 class="mt-4 text-center">Registru Fertilizare</h4>
                    <thead>
                        <tr>
                                <th>
                                    Cod Fertilizare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodFertilizare" ? "CodFertilizare_desc" : "CodFertilizare" })">
                                        @if (currentSort != "CodFertilizare_desc")
                                    {
                                            <i class="bi bi-sort-up"></i>
                                    }
                                    else 
                                    {
                                            <i class="bi bi-sort-down"></i>
                                    }
                                    </a>
                                </th>
                                <th>
                                    Suprafata
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "Suprafata" ? "Suprafata_desc" : "Suprafata" })">
                                        @if (currentSort != "Suprafata_desc")
                                    {
                                            <i class="bi bi-sort-up"></i>
                                    }
                                        else 
                                    {
                                            <i class="bi bi-sort-down"></i>
                                    }
                                    </a>
                                </th>
                                <th>
                                    Data Fertilizare 
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DataFertilizare" ? "DataFertilizare_desc" : "DataFertilizare" })">
                                        @if (currentSort != "DataFertilizare_desc")
                                    {
                                            <i class="bi bi-sort-up"></i>
                                    }
                                        else
                                    {
                                            <i class="bi bi-sort-down"></i>
                                    }
                                    </a>
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registru in item.RegistruFertilizare)
                            {
                                total += @registru.Suprafata;
                                <tr>
                                <td>@registru.CodFertilizare</td>
                                <td>@registru.Suprafata</td>
                                <td>@registru.DataFertilizare.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        <td>Total Suprafata</td>
                        <td>@total</td>
                        <td></td>
                    </tbody>
                </table>
            }
            @if (item.RegistruIrigare != null && item.RegistruIrigare.Any())
            {
                    int total = 0;
                    <table class="table table-striped table-bordered">
                        <h4 class="mt-4 text-center">Registru Irigare</h4>
                    <thead>
                        <tr>
                                <th>
                                    Cod Irigare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodIrigare" ? "CodIrigare_desc" : "CodIrigare" })">
                                        @if (currentSort != "CodIrigare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Durata Irigare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DurataIrigare" ? "DurataIrigare_desc" : "DurataIrigare" })">
                                        @if (currentSort != "DurataIrigare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Data Irigare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DataIrigare" ? "DataIrigare_desc" : "DataIrigare" })">
                                        @if (currentSort != "DataIrigare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registru in item.RegistruIrigare)
                            {
                                total += registru.DurataIrigare;
                                <tr>
                                <td>@registru.CodIrigare</td>
                                <td>@registru.DurataIrigare</td>
                                <td>@registru.DataIrigare.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        <td>Total Durata</td>
                        <td>@total</td>
                        <td></td>
                    </tbody>
                </table>
            }
            @if (item.RegistruPalisare != null && item.RegistruPalisare.Any())
            {
                    int total = 0;
                    <table class="table table-striped table-bordered">
                        <h4 class="mt-4 text-center">Registru Palisare</h4>
                    <thead>
                        <tr>
                                <th>
                                    Cod Palisare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodPalisare" ? "CodPalisare_desc" : "CodPalisare" })">
                                        @if (currentSort != "CodPalisare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Numar Plante
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "NumarPlante" ? "NumarPlante_desc" : "NumarPlante" })">
                                        @if (currentSort != "NumarPlante_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Data Palisare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DataPalisare" ? "DataPalisare_desc" : "DataPalisare" })">
                                        @if (currentSort != "DataPalisare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registru in item.RegistruPalisare)
                            {
                                total += @registru.NumarPlante;
                                <tr>
                                <td>@registru.CodPalisare</td>
                                <td>@registru.NumarPlante</td>
                                <td>@registru.DataPalisare.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        <td>Total Plante</td>
                        <td>@total</td>
                        <td></td>
                    </tbody>
                </table>
            }
            @if (item.RegistruRecoltare != null && item.RegistruRecoltare.Any())
                {
                    int total = 0;
                    <table class="table table-striped table-bordered">
                        <h4 class="mt-4 text-center">Registru Recoltare</h4>
                    <thead>
                        <tr>
                                <th>
                                    Cod Recoltare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodRecoltare" ? "CodRecoltare_desc" : "CodRecoltare" })">
                                        @if (currentSort != "CodRecoltare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Cantitate Recoltata
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CantitateRecoltata" ? "CantitateRecoltata_desc" : "CantitateRecoltata" })">
                                        @if (currentSort != "CantitateRecoltata_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Data Recoltare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DataRecoltare" ? "DataRecoltare_desc" : "DataRecoltare" })">
                                        @if (currentSort != "DataRecoltare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registru in item.RegistruRecoltare)
                            {
                                total += registru.CantitateRecoltata;
                                <tr>
                                <td>@registru.CodRecoltare</td>
                                <td>@registru.CantitateRecoltata</td>
                                <td>@registru.DataRecoltare.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        <td>Total Recoltat</td>
                        <td>@total</td>
                        <td></td>
                    </tbody>
                </table>
            }
            @if (item.RegistruTratamente != null && item.RegistruTratamente.Any())
                {
                    int total = 0;
                    <table class="table table-striped table-bordered">
                        <h4 class="mt-4 text-center">Registru Tratamente</h4>
                    <thead>
                        <tr>
                                <th>
                                    Cod Tratament Aplicat
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodTratamentAplicat" ? "CodTratamentAplicat_desc" : "CodTratamentAplicat" })">
                                        @if (currentSort != "CodTratamentAplicat_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Cod Daunator
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "CodDaunator" ? "CodDaunator_desc" : "CodDaunator" })">
                                        @if (currentSort != "CodDaunator_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Suprafata
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "Suprafata" ? "Suprafata_desc" : "Suprafata" })">
                                        @if (currentSort != "Suprafata_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                                <th>
                                    Data Aplicare
                                    <a href="@Url.Action("Index", new { parcelaSelectata, registruSelectat, sortOrder = currentSort == "DataAplicare" ? "DataAplicare_desc" : "DataAplicare" })">
                                        @if (currentSort != "DataAplicare_desc")
                                        {
                                            <i class="bi bi-sort-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-sort-down"></i>
                                        }
                                    </a>
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registru in item.RegistruTratamente)
                            {
                                total += registru.Suprafata;
                                <tr>
                                <td>@registru.CodTratamentAplicat</td>
                                <td>@registru.CodDaunator</td>
                                <td>@registru.Suprafata</td>
                                <td>@registru.DataAplicare.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        <td></td>
                        <td>Total Suprafata</td>
                        <td>@total</td>
                        <td></td>
                    </tbody>
                </table>
            }
        } </table>
    }
    else
    {
        <p>Nu exista date.</p>
    }
</div>
