@using ProiectLicenta.Models

@model List<Parcela>

@{
    ViewData["Title"] = "Parcele";
}

<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center"> Parcele </h1>

<table class="mb-3">
<tr>
        <th> <input class="btn btn-warning" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" /></th>
    <th> <a class="btn btn-primary" asp-controller="Parcele" asp-action="Adaugare"> Adauga Parcela</a></th>
    <th>    <a class="btn btn-primary" asp-controller="Parcele" asp-action="Stergere"> Sterge Parcela</a></th>
</tr>
    </table>
@if (Model.Count == 0)
{
    <p> Nu exista parcele!</p>
}
else
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Cod Parcela
            </th>
            <th>
                Locatie
            </th>
            <th>
                Tipul
            </th>
            <th>
                Suprafata
            </th>
            <th>
                Planta
            </th>
            <th>
                Numar de Plante
            </th>
        </tr>
        @foreach (var var in Model)
        {
            <tr>
                <td>
                    @var.CodParcela
                </td>
                <td>
                    @var.Locatie
                </td>
                <td>
                    @var.Tip
                </td>
                <td>
                    @var.Suprafata
                </td>
                <td>
                    @var.Rasaduri.Plante.Nume - @var.Rasaduri.Denumire
                </td>
                <td>
                    @var.NumarPlante
                </td>
            </tr>
        }

    </table>
}