@{
    ViewData["Title"] = "Stergere Recoltare";
}
<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">Sterge Recoltare</h1>
<form method="post">
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "RegistruRecoltare") + "'");" />
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Selectie
            </th>
            <th>
                Cod Recoltare
            </th>
            <th>
                Parcela
            </th>
            <th>
                Angajat
            </th>
            <th>
                Cantitate
            </th>
            <th>
                Data Recoltare
            </th>
        </tr>
    @foreach (var var in ViewBag.stergere)
        {
            <tr>
                <td>
                    <input type="checkbox" name="registruRecoltareId" value="@var.CodRecoltare" />
                </td>
                <td>
                    @var.CodRecoltare
                </td>
                <td>
                    @var.CodParcela
                </td>
                <td>
                    @var.CodAngajat
                </td>
                <td>
                    @var.CantitateRecoltata
                </td>
                <td>
                    @var.DataRecoltare
                </td>
            </tr>
    }
    </table>
    <input type="submit" value="Stergere" name="Stergere" class="btn btn-danger" />
</form>


