@{
    ViewData["Title"] = "Stergere Copilire";
}
<h1 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">Sterge Copilire</h1>
<form method="post">
    <input class="btn btn-warning mb-3" type="button" value="Inapoi" onclick="@("window.location.href='" + @Url.Action("Index", "RegistruCopilire") + "'");" />
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Selectie
            </th>
            <th>
                Cod Copilire
            </th>
            <th>
                Parcela
            </th>
            <th>
                Numar Plante
            </th>
            <th>
                Angajat
            </th>
            <th>
                Data Copilire
            </th>
        </tr>
    @foreach (var var in ViewBag.stergere)
    {
            <tr>
                <td>
                    <input type="checkbox" name="registruCopilireId" value="@var.CodCopilire" />
                </td>
                <td>
                    @var.CodCopilire
                </td>
                <td>
                    @var.CodParcela
                </td>
                <td>
                    @var.NumarPlante
                </td>
                <td>
                    @var.CodAngajat
                </td>
                <td>
                    @var.DataCopilire
                </td>
            </tr>
    }
    </table>
    <input type="submit" value="Stergere" name="Stergere" class="btn btn-danger" />
</form>


